@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Style global pour le carrousel */
.slick-slider {
  direction: ltr; /* Important pour le RTL */
}
.tunisianet-app {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  color: #333;
}

